html * {
	color: #FFF;
}

#app, body, html {
	width: 100%;
	height: 100%;
}

.black {
	background-color: #000;
}

.grey {
	background-color: #777;
}

.server-button-holder {
	margin: 2vw 0px 7vw 0px;
}

.add-server, .destryo-server {
	padding: 0px;
	font-size: 1.5vw;
	background-color: transparent;
	border: none;
	width: 8vw;
	height: 10vw;
}

.add-server .glyphicon-plus, .destryo-server  .glyphicon-minus {
	width: 5vw;
	height: 5vw;
	margin: 1.4vw;
	border: 4px solid;
	border-radius: 50%;
	padding: 1.25vw;
}

.add-server *, .destryo-server * {
	display: block;
}

.server-holder {
	background-color: grey;
	width: 180px;
	height: 100px;
	border-radius: 5px;
	display: inline-block;
	margin: 0 1vw 1vw 0;
}

html ul {
	margin: 0px;
	width: 100%;
	padding: 0px;
}

html li {
	margin: 0px;
	padding: 1vw;
	width: 100%;
	height: 5vw;
	background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.5vw;
}

html li button {
	float: right;
    border-radius: 50% !important;
    width: 3vw;
    height: 3vw;
    margin: 0 0.5vw 0 0.5vw;
    padding: 0px !important;
}

html li button.minus {
	background-color: transparent;
}

html li.pos0 {
	border-left: 0.5vw solid #F600CF;
}

.pos0 .btn.plus{
	background-color: #F600CF;
	border-color: #F600CF;
}

html li.pos1 {
	border-left: 0.5vw solid #5D06F5;
}

.pos1 .btn.plus{
	background-color: #5D06F5;
	border-color: #5D06F5;
}

html li.pos2 {
	border-left: 0.5vw solid #0496F4;
}

.pos2 .btn.plus{
	background-color: #0496F4;
	border-color: #0496F4;
}

html li.pos3 {
	border-left: 0.5vw solid #77C0EC;
}

.pos3 .btn.plus{
	background-color: #77C0EC;
	border-color: #77C0EC;
}

html li.pos4 {
	border-left: 0.5vw solid #25FA03;
}

.pos4 .btn.plus{
	background-color: #25FA03;
	border-color: #25FA03;
}

@media (min-width: 950px) {
	.row, .row > div {
		height: 100%
	}
}

.loading-bg {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100vw;
	height: 100vh;
	position: absolute;
	padding: 0px;
	margin: 0px;
	z-index: 900;
}

.loading {
	position: absolute;
	top: 25vh;
	left: 25vw;
	width: 50vw;
	height: 50vh;
	z-index: 999;
}

.loading img {
	height: 50px;
	display: inline-block;
}

.loading span {
	height: 50px;
	display: block;
}